header {
    margin-top: 10px;
}

body {
    background-image: url(Photos/Background.jpg);
    background-size: cover;
    text-align: center;
}

.vert {
    z-index: 0;
    height: 386px;
    width: 267px;
    position: absolute;
    margin-left: -511px;
    margin-top: 114px;
}

.hori {
    z-index: 0;
    height: 267px;
    width: 386px;
    position: absolute;
    margin-left: -511px;
    margin-top: 214px;
}
.frame {
    z-index: 1;
    margin-top: 50px;
}

.pHori {
    margin-top: -75px;
    margin-left: -25px;
}