header {
    margin-top: 10px;
}

body {
    background-image: url(Photos/Background.jpg);
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.Mainbox {
    background-color: bisque;
    border: 5px double gray;
    padding: 20px;
    width: 1200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vert {
    z-index: 0;
    height: 386px;
    width: 267px;
    position: absolute;
    margin-left: -511px;
    margin-top: 114px;
}

.hori {
    z-index: 0;
    height: 267px;
    width: 386px;
    position: absolute;
    margin-left: -511px;
    margin-top: 164px;
}
.frame {
    z-index: 1;
}

.pHori {
    margin-top: -75px;
    margin-left: -25px;
}