body {
  background-color: #E8D6A0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.Mainbox {
  background-image: url("Images/Background.jpg");
  border: 5px double beige;
  padding: 20px;
	width: 1200px;
	height: 595px;
	margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
 }

 .Bio {
  position: absolute;
  width: 725px;
  height: 177.5px;
  background-color: #59391D;
  text-align: left;
  color: antiquewhite;
  border-radius: 10px;
  border: double;
  border-color: burlywood;
  margin-left: 235px;
  margin-top: 20px;
 }

 .Bio img {
  position: absolute;
  border-radius: 10%;
  border: dotted;
  border-color: #E8D6A0;
  left: -165px;
  top: -165px;
 }

.Cbox {
  position: absolute;
  margin-left: 2px;
  margin-top: 305px;
}

.Hyperfixations {
  position: absolute;
  background-color: bisque;
  border: 2.5px double #333333;
  text-align: left;
  width: 200px;
  margin-top: 20px;
  margin-left: 995px;
  border-radius: 10%;
  height: auto;
 }

 .HyperTitle {
  margin-left: -35px;
 }
 
 .HyperItem {
  margin-left: -32px;
  margin-right: 15px;
  margin-top: 7.5px; 
  background-color: antiquewhite;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;

  border: 3px dashed bisque;


  height: auto;
  width: 175px;
  font-size: 20px;
  text-align: left;  
 }

 li p {
  margin: 0px;
  margin-left: 3px;
  font-size: 18px;
 }

 .Navbar {
  position: absolute;
  background-color: bisque;
  border: 2.5px double #333333;
  text-align: left;
  width: 200px;
  margin-top: 20px;
  border-radius: 10%;
 }

.NavTitle {
  margin-left: -24px;
}

 .NavItem {
  margin-left: -32px;
  margin-right: 15px;
  margin-top: 5px; 
  background-color: antiquewhite;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;

  border: 3px dashed bisque;


  height: 22px;
  width: 175px;
  font-size:20px;
  text-align: center;
}

 li a {
  display: block;
  color: #333333;
  text-decoration: none;
 }

 li a:hover {
  font-weight: bolder;
 }

 ul {
  list-style-type: none;
 }

 .Title {
  border-bottom: 2.5px dashed #333333;
 }

 audio {
  position: absolute;
  margin-left: 397.5px;
  margin-top: 440px;
  width: 200px;;
 }