body {
  background-color: #E8D6A0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.Mainbox {
  background-image: url("Images/Background.jpg");
  border: 5px double beige;
  padding: 20px;
	width: 1200px;
	height: 595px;
	margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
 }

 .Bio {
  position: absolute;
  width: 725px;
  height: 175px;
  background-color: #59391D;
  text-align: left;
  color: antiquewhite;
  border-radius: 10px;
  border: double;
  border-color: burlywood;
  margin-left: 235px;
  margin-top: 20px;
 }

 .Bio img {
  position: absolute;
  border-radius: 10%;
  border: dotted;
  border-color: #E8D6A0;
  left: -165px;
  top: -165px;
 }

.Cbox {
  position: absolute;
  margin-left: 2px;
  margin-top: 305px;
}

.Hyperfixations {
  position: absolute;
  background-color: bisque;
  border: 2.5px double #333333;
  text-align: left;
  width: 200px;
  margin-top: 20px;
  margin-left: 995px;
  border-radius: 10%;
  height: auto;
 }

 .HyperTitle {
  margin-left: -35px;
 }
 
 .HyperItem {
  margin-left: -32px;
  margin-right: 15px;
  margin-top: 7.5px; 
  background-color: antiquewhite;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;

  border: 3px dashed burlywood;


  height: auto;
  width: 175px;
  font-size: 20px;
  text-align: left;  
 }

 li p {
  margin: 0px;
  margin-left: 3px;
  font-size: 18px;
 }

 .Navbar {
  position: absolute;
  background-color: bisque;
  border: 2.5px double #333333;
  text-align: left;
  width: 200px;
  margin-top: 20px;
  border-radius: 10%;
 }

.NavTitle {
  margin-left: -24px;
}

 .NavItem {
  margin-left: -32px;
  margin-right: 15px;
  margin-top: 5px; 
  background-color: antiquewhite;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;

  border: 3px dashed burlywood;


  height: 22px;
  width: 175px;
  font-size:20px;
  text-align: center;
}

 li a {
  display: block;
  color: #333333;
  text-decoration: none;
 }

 li a:hover {
  font-weight: bolder;
 }

 ul {
  list-style-type: none;
 }

 .Title {
  border-bottom: 2.5px dashed #333333;
 }

 audio {
  position: absolute;
  margin-left: 397.5px;
  margin-top: 440px;
  width: 200px;;
 }

 .UpTitle {
  position: absolute;
  width: auto;
  padding: 0px 3px;
  height: 17.5px;
  background-color: bisque;
  text-align: center;
  color: #333333;
  border: double #333333;
  border-radius: 7.5px;
  margin-left: 240px;
  margin-top: 203px;
  font-weight: bold;

 }

 .Updates {
  position: absolute;
  width: 725px;
  height: 284px;
  background-color: bisque;
  text-align: left;
  color: antiquewhite;
  border-radius: 10px;
  border: double;
  border-color: #333333;
  margin-left: 235px;
  margin-top: 220px;
  z-index: 0;
 }
 
 .Blog {
  position: absolute;
  width: 347.5px;
  height: 127.5px;
  background-image: url(https://i.pinimg.com/736x/c3/fe/c9/c3fec980cd3bbe34353fa144bbe44daf.jpg);
  text-align: left;
  border: dashed burlywood;
  color: #333333;
  border-radius: 5px;
  margin-left: 6.125px;
  margin-top: 6px;
 }
 
 .Photo {
  position: absolute;
  width: 347.5px;
  height: 127.5px;
  background-image: url(https://www.textures4photoshop.com/tex/thumbs/seamless-sky-background-with-fluffy-clouds-thumb42.jpg);
  background-size: cover;
  background-position: center;
  text-align: left;
  border: dashed burlywood;
  color: #333333;
  border-radius: 5px;
  margin-left: 365px;
  margin-top: 6px;
 }

 .Photo img {
  position: absolute;
  width: 150px;
  height: 100px;
  margin-left: 97.5px;
  margin-top: -30px;
  border: 1px double gray;
  border-radius: 5px;
 }

 .Photo a {
  text-align: center;
  position: absolute;
  width: 175px;
  height: auto;
  margin-left: 5px;
  margin-top: 45px;
  font-size: large;
  color: #333333;
  background-color: rgb(255, 255, 255, 0.85);
  font-weight: bold;
 }
 
 .Art {
  position: absolute;
  width: 347.5px;
  height: 127.5px;
  background-image: url(Art\ Show/Photos/Background.jpg);
  text-align: left;
  border: dashed burlywood;
  color: #333333;
  border-radius: 5px;
  margin-left: 6.125px;
  margin-top: 144.5px;
 }

 .Art img {
  position: absolute;
  width: 144.75px;
  height: 100.125px;
  margin-left: 107.5px;
  margin-top: -32.5px;
  border: 1px double gray;
  border-radius: 2.5px;
 }

 .Art a {
  text-align: center;
  position: absolute;
  width: 175px;
  height: auto;
  margin-left: 0px;
  margin-top: 45px;
  font-size: large;
  color: #333333;
  font-weight: bold;
 }
 
 .Review {
  position: absolute;
  width: 347.5px;
  height: 127.5px;
  background-color: antiquewhite;
  text-align: left;
  border: dashed burlywood;
  color: #333333;
  border-radius: 5px;
  margin-left: 365px;
  margin-top: 144.5px;
 }