body {
    background-color: #d11919;
    background: radial-gradient(circle, transparent 20%, #d11919 20%, #d11919 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #d11919 20%, #d11919 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ffd2d2 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ffd2d2 0.8px, #d11919 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.Mainbox {
    background-color: #FFF0F0;
    border: 5px double #d11919;
    opacity: 0.975;
    padding: 20px;
	width: 1200px;
	height: auto;
	margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
 }

.review {
    text-align: left;
    background-color: white;
    border: 5px double darkgray;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}
 
header {
    margin-top: 25px;
 }

ul {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    text-align: left;
}
li {
    font-weight: bold;
}
li a {
    font-weight: 100;
}

h2 {
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

h3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: dimgrey;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}